*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body{
  background: rgb(85,61,244);
background: -moz-linear-gradient(0deg, rgba(85,61,244,1) 0%, rgba(6,174,194,1) 61%);
background: -webkit-linear-gradient(0deg, rgba(85,61,244,1) 0%, rgba(6,174,194,1) 61%);
background: linear-gradient(0deg, rgba(85,61,244,1) 0%, rgba(6,174,194,1) 61%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#553df4",endColorstr="#06aec2",GradientType=1);

  /* background-color: #553df4; */
font-family: 'Open Sans', sans-serif;
}
h1{
  text-align: center;
  color: #fff;
  margin-top: 30px;
  letter-spacing: 0.5px;
  font-size-adjust: auto;
  font-size: 50px;
  font-size-adjust: 0.58;
  font-weight: bold;
  padding-bottom: 20px;
}



.container1{
  width: 300px;
  height: 260px;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  padding:15px;
  margin: 30px auto;
}


input{
width: 210px;
height: 40px;
margin-top: 5px;
text-align: center;
border-radius: 10px;
margin: auto;
outline: none;
font-size: 14px
}

p{
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 15px;
}
strong{
  color:#553df4;
}

.ult{
  border: solid 3px #553df4;
  color: #553df4;
  background-color: #ffff;
}


}
@media screen and (max-width: 450px) {
  .container1 {
    margin:32px 32px!important;

  }
}
